<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="server/ServiceWorker.js">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" value="/" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>